<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= mbxtit %></title>
    <link href="../../public/css/admin.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="../../public/js/html5shiv.min.js"></script>
    <script src="../../public/js/Respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- 头 start -->
<% include header.html %>
<!-- 头 end -->

<!-- 内容 start  -->
<div class="content">

<div class="hint">
    <div class="alert alert-danger" role="alert">
        <strong><%= mbxtit %></strong>
        <p class="p-link">
            <a href="/admin/" class="alert-link">&lt;&lt;返回首页</a>
        </p>

    </div>
</div>


</div>


</body>
</html>