
<!-- 弹出层 start -->

<div class="mask-box" id="maskObj">
	<div class="mask-bg"></div>

	<!-- 登录框 start -->
	<div class="login-box" id="logId">
		<a href="javascript:;" class="close-btn">关闭</a>
		<div class="tit">账户登录</div>
		<div class="cont-box" id="loginInpBox">
			<p class="info tsmsg" id="info">请输入正确的账号密码</p>
			<div class="item">
				<span class="lable name-lab"></span>
				<input type="text" class="itxt" name="username" id="username" placeholder="请输入账号">
			</div>
			<div class="item">
				<span class="lable pass-lab"></span>
				<input type="text" class="itxt" name="password" id="password" placeholder="请输入密码">
			</div>
			<div class="log-btn-box">
				<a href="javascript:;" class="log-btn" id="loginBtn">登录</a>
			</div>
			<p class="p-set">
				<span class="s1"><a href="javascript:;" id="regLink">注册</a></span>
				<span class="s2"><a href="#">忘记密码？</a></span>
			</p>

		</div>

	</div>

	<!-- 登录框 end -->

	<!-- 注册框 start -->
	<div class="login-box reg-box" id="regId">
		<a href="javascript:;" class="close-btn">关闭</a>
		<div class="tit">账号注册</div>
		<div class="cont-box" id="regInpBox">
			<p class="info tsmsg" id="reginfo">请输入注册的用户名和密码</p>
			<div class="item">
				<span class="lable name-lab"></span>
				<input type="text" class="itxt" name="regusername" id="regusername" placeholder="请输入用户名">
			</div>
			<div class="item">
				<span class="lable pass-lab"></span>
				<input type="text" class="itxt" name="regpassword" id="regpassword" placeholder="请输入密码">
			</div>
			<div class="item">
				<span class="lable pass-lab"></span>
				<input type="text" class="itxt" name="vregpassword" id="vregpassword" placeholder="请重复密码">
			</div>

			<div class="log-btn-box">
				<a href="javascript:;" class="log-btn" id="regBtn">注册</a>
			</div>
			<p class="p-set">
				<span class="s1">已经有账号，<a href="javascript:;" id="logLink">马上登录</a></span>

			</p>

		</div>

	</div>

	<!-- 注册框 end -->


</div>

<!-- 弹出层 end -->

