/* CSS Document */
@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { font-size: 14px; font-family:Microsoft YaHei, Arial, Helvetica, sans-serif; background: #ffffff; line-height: 150%; color: #525554; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
ins { text-decoration: none; display:block;}
legend { display: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
a{ color: #333333; text-decoration: none; }
a:link, a:visited { color: #333333; text-decoration: none; }
a:hover { color: #cc0000; text-decoration: underline; }
object, embed { display: block }
input, select { border-radius: 0 }
.clear { clear: both; height: 0; overflow: hidden; }
.clearfix { *zoom:1}
.clearfix:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: "."; }

/*内容*/
/*header*/
.header{ margin: 0 0 15px;background-color: #f8f8f8; border:1px solid #e7e7e7; border-radius: 4px; height: 50px;}
.header h1{ float: left; padding: 0 15px;font-size: 18px; font-weight: bold; line-height: 50px;}
.header h1 a{color: #777777; text-decoration: none}
.header .nav{ float: left}
.header .nav ul{ overflow: hidden}
.header .nav li{ float: left}
.header .nav a{ padding: 0 15px; display: block; text-decoration: none; height: 50px; line-height: 50px; font-size: 14px;color: #555555;}
.header .nav a:hover,.header .nav a.active{ background-color: #e7e7e7;}
.header .quit{ float: right; padding: 0 15px; line-height: 50px; text-align: right; font-size: 12px;}
.header .quit a{ text-decoration: underline; color: #0000ff}
.header .quit em{ font-weight: bolder;}

/*面包屑*/
.mbx-box{ margin: 0 10px 10px}
.mbx-box .breadcrumb { padding: 8px 15px; list-style: none; background-color: #f5f5f5; border-radius: 4px; }
.mbx-box .breadcrumb>li { display: inline-block; }
.mbx-box .breadcrumb>.active { color: #777; }
.mbx-box .breadcrumb>.useradd{ float: right; margin: -4px 0 0 0; }
.mbx-box .breadcrumb>.useradd a{line-height: 15px}


.content{ padding: 10px 10px 20px}

/*首页公告*/
.bs-example{padding:30px 60px 60px; border-radius: 6px;background-color: #eee;}
.bs-example .tit-1{ font-size: 42px;margin: 20px 0 10px; line-height: 50px}
.bs-example .p-txt{ line-height: 30px; font-size: 20px}

.tab-box{ margin: 0}
.table{ width: 100%; }
.table .a-sty{ color: #e21f1f}
.table .online{ color: #33ff00;}
.table>thead>tr>th,.table>tbody>tr>td{vertical-align: bottom; border-bottom: 2px solid #ddd;padding:0 8px; line-height: 35px; text-align: center; font-weight: bold;box-sizing:border-box}
.table>tbody>tr>td{ vertical-align: top; border-bottom: 1px solid #ddd;font-weight: normal }
.table-striped>tbody>tr:nth-of-type(odd) { background-color: #f9f9f9; }
.table-hover>tbody>tr a{ color: #0000ff}
.table-hover>tbody>tr:hover{background-color: #b5b2af;}
.table-hover>tbody>tr:hover td{ color: #ffffff}
.table td i{ padding: 0 10px; font-style: normal}

/*分页*/
.page-box{ margin: 0 auto; text-align: center; position: relative}
.page-box .num-box{ display: block; line-height: 30px; height: 30px; position: absolute; top: 0; left: 50%; width: 400px; margin: 0 0 0 -200px}
.page-box .num-box i{ color: #ff0000; font-style: normal;}
.page-box .pager{ padding-left: 0; margin: 20px 0; text-align: center; overflow: hidden}
.page-box .pager li{ display: inline; }
.pager li>a, .pager li>span { display: inline-block; padding: 5px 14px; background-color: #fff; border: 1px solid #ddd;border-radius: 15px;}
.pager .previous>a,.pager .previous>span{float: left;  }
.pager .next>a, .pager .next>span {float: right;}
.page-box .pager li a{ color: #337ab7}
.page-box .pager li span{ color: #777777}
.pager a:hover{ text-decoration: none; background: #dddddd; color: #000000}
.page-error{line-height: 50px; font-size: 24px; text-align: center}



/*错误提示*/
.hint{ margin: 0 auto; width: 500px; height: 300px; position: relative}
.hint .alert{  padding: 15px; margin-bottom: 20px; border: 1px solid transparent;  border-radius: 4px; height: 300px }
.hint .alert {  text-shadow: 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
}
.hint .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.hint .alert-danger {
    background-image: -webkit-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
    background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}
.hint .alert-danger  strong{ text-align: center; font-size: 30px; display: block; line-height: 50px; padding: 50px 0 0 0}
.hint .alert-danger .p-link{ line-height: 30px; width: 100%; position: absolute; bottom: -20px; left: 0; padding: 0 20px; font-size: 14px; }
.hint .alert-danger a{ text-decoration: underline}

/*用户编辑*/
.form-control {  display: block;  width: 100%;  height: 30px; font-size: 14px; line-height: 30px; color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px inset;
    padding: 6px 12px; border: 1px solid rgb(204, 204, 204); border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; float: left; top: 4px

}
.form-control{ position: relative; z-index: 2; width: 200px; margin-bottom: 0px; vertical-align: middle }
.select-sty{ padding: 0 12px}
.cx-small{ width: 50px}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px;
    font-weight: 400; line-height: 20px; text-align: center; white-space: nowrap;
    vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent;  border-radius: 4px;text-decoration: none!important
}
.btn-primary { color: #fff!important; background-color: #337ab7;  border-color: #2e6da4; }
.btn-success {  color: #fff!important; background-color: #5cb85c; border-color: #4cae4c; }


.zx-link{ color: #0000ff; text-decoration: underline; margin: 0 0 0 20px}
.zx-link:link,.zx-link:visited{ color: #0000ff; text-decoration: underline}

.tab-edit-warp{ width: 700px; margin: 0 auto}
.tab-edit-warp .table>tbody>tr>td{border: 1px solid #ddd; border-right: 0; border-left: 0; border-bottom: 0; vertical-align: middle}
.tab-edit-warp .t-head{ display: block; padding: 10px; text-align: right;border-right: 1px solid #ddd; font-weight: bold; line-height: 40px}
.tab-edit-warp .t-body{ display: block; padding:0 10px; text-align: left;line-height: 40px; height: 40px; overflow: hidden}
.tab-edit-warp .t-rq{ float: left;}
.tab-edit-warp .t-ts{ color: #ff0000}
.tab-edit-warp .t-btn{ height: 50px; line-height: 50px;display: block; text-align: center }
.tab-edit-warp .inp-text{ padding:0 12px}
.tab-edit-warp .mark-box{ color: #f13f40; float: left; display: block}
.tab-edit-warp .succes{ display: none; cursor:auto}
.btn-content-box{ text-align: left; padding:30px }

.initpassword{ float: left; height: 30px; line-height: 30px; padding: 0 15px; position: relative; top: 5px}


/* 文章页 */
.ke-content img{ max-width: 100%!important;}
.article-tit{ width: 350px; display: block; overflow: hidden; height: 35px}
.article-keyword{ width: 120px; display: block; overflow: hidden; height: 35px; text-align: center; margin: 0 auto}
.addnew-box{ height: 50px;}
.addnew-box .btn{ float: right;}
.addnew-box .search-box{ float: left}
.addnew-box .tit-span{height: 30px; line-height: 30px; font-size: 14px}
.addnew-box .sel-sty{ height: 30px; line-height: 30px;border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px inset; width: 200px; border-radius: 4px; font-size: 14px}
.addnew-box .inp-box{ padding: 0 10px 0 30px; }
.addnew-box .inp-box .inp-word{ padding: 0 10px;width: 150px}
.addnew-box .inp-box .btn{border-radius: 4px; cursor: pointer; display: inline-block; font-size: 14px;
    font-weight: 400; line-height: 18px; margin-bottom: 0; padding: 6px 12px;
    text-align: center; vertical-align: middle; white-space: nowrap; margin: 0 0 0 10px}
.addnew-box .inp-box .btn-info{ background-color: #5bc0de; border-color: #46b8da; color: #fff; }
.addnew-box .qb-box{ float: left;height: 33px; line-height: 33px}
.addnew-box .qb-box .qb-link{ padding: 0 30px 0 10px; font-size: 16px; color: #0000ff}


.addnew-content{ margin: 0 auto; width: 950px}
.addnew-content .table > tbody > tr{border-bottom: 1px dotted #ddd;}
.addnew-content .table > tbody > tr > td{ border: 0; height: 50px; line-height: 50px; text-align: right;}
.addnew-content .table .ts-sty{ color: #ff0000}
.addnew-content  .form-control{ height: 20px; vertical-align: middle; }
.addnew-content .t-body{ float: left; padding: 4px 0 0 0}
.addnew-content .t-ts{height: 40px;float: left;}
.addnew-content .table .tit{ width: 800px}
.addnew-content .table .small{ width: 200px}
.addnew-content .table .x-small{ width: 150px}
.addnew-content .table .cx-small{ width: 50px}

.addnew-content .table .x-b{ width: 290px}
.addnew-content .table .d-b{ width: 500px}
.addnew-content .table .disable{ background: #f5f5f5}
.addnew-content .table .select{ height: 34px}
.addnew-content .table .select option{ height: 25px; line-height: 25px}
.addnew-content .table .text-warp{ padding: 10px 0 0; text-align: left;}
.addnew-content .table .word-count{ height: 50px; line-height: 50px; text-align: right; color: #333333}
.addnew-content .table .word-count .num{ color: #ff0000; padding: 0 5px; font-weight: bold}
.addnew-content .table .word-count .t{ color: #999999}
.addnew-content .table .text-box{ width: 830px; height: 500px}
.addnew-content .sub-new-box{ height: 50px; padding: 15px 0; text-align: center}
.addnew-content .sub-new-box .btn{ width: 150px; height: 50px; line-height: 50px; font-size: 20px; padding: 0; margin: 0 auto; display: block}
.addnew-content .sub-new-box .succes{ display: none}
.addnew-content .sub-new-box .back{ color: #0000ff;  text-decoration: underline; padding: 0 0 0 20px; float: left}
.addnew-content .img-load{ overflow: hidden;}
.addnew-content .img-look{ margin: 0; text-align: left; padding: 20px 0 0 0 }
.addnew-content .img-look img{ width: 200px; height: 150px; border: 1px dotted #666666;}
.addnew-content .table > tbody > tr > td.img-b{ height: auto}
.addnew-content .img-load .t-ts{ color: #ff0000; padding: 4px 20px 0}
.addnew-content .upcontent{ display: none}
.table .show-inp{ width: 50px}

/*焦点图列表*/
.f-img{}
.f-img>tbody>tr>td{ line-height: 80px; vertical-align: middle}
.f-img .f-img-box{ padding: 10px; width: 170px; height: 100px; text-align: center; margin: 0 auto}
.f-img .f-img-box img{ width: 170px; height: 100px}
.f-img .f-img-tit{ line-height:30px; vertical-align: middle}
.add-img-btn{  float: right}

.focus-content{ width: 850px; margin: 0 auto}
.focus-content .t-head{ font-weight: bold}
.focus-content .t-body{ padding: 0 10px }
.focus-content .table > tbody > tr > td.img-b{ width: 85px}
.focus-content .img-look img{ width: 300px;  height: 200px}
.focus-content .img-load{ border-bottom: 1px dotted #dddddd}
.focus-content .table .tit{ width: 500px}
.focus-content .t-body{ padding-top: 4px}

/*评论详情*/
.comment-cont{ width: 900px; margin: 0 auto;}
.comment-cont .new-tit{ text-align: center; line-height: 40px; font-weight: bold; font-size: 24px; background: #f5f5f5; padding: 10px; margin: 0 0 20px}
.comment-cont .comment-box{ margin: 0 auto}
.comment-cont .comment-list{ margin: 0 0 15px;background: #f5f5f5; padding: 0 10px 10px; position: relative}
.comment-cont .comment-list .del-btn{ width: 50px; height: 30px; text-align: center; line-height: 30px; display: block; position: absolute; top: 0; right: -50px; text-decoration: underline;background: #dfdfdf}
.comment-cont .comment-list .t-p{ height: 35px; line-height: 35px; overflow: hidden; zoom: 1; border-bottom: 1px dotted #999999}
.comment-cont .comment-list .t-p span{ display: block}
.comment-cont .comment-list .name{ float: left; color: #0000ff}
.comment-cont .comment-list .time{ float: right; color: #acacac}
.comment-cont .comment-list .c{ line-height: 30px; word-wrap: break-word; word-break: break-all; padding: 10px 0;  font-size: 16px}
.comment-cont .comment-list .hf-list{}
.comment-cont .comment-list .hf-list li{ overflow: hidden; margin: 0 0 5px}
.comment-cont .comment-list .hf-list .h-txt{ border: 1px solid #999999; width: 400px; float: left; padding:5px 10px}
.comment-cont .comment-list .hf-list .r{ float: right}
.comment-cont .comment-list .hf-list .from{ line-height: 20px; margin: 0 0 5px}
.comment-cont .comment-list .hf-list span{ color: #0000ff}
.comment-cont .comment-list .hf-list .cont{ line-height: 20px; word-wrap: break-word; word-break: break-all;}
.comment-cont .comment-list .hf-list .t{ line-height: 20px; text-align: right;color: #acacac}
.comment-cont .del-link{ line-height: 25px; padding: 0 0 20px;position: relative}
.comment-cont .del-link a{ color: #0000ff; font-size: 16px; text-decoration: underline}
.comment-cont .del-link span{ position: absolute; right: 0; top: 0; display: block; line-height: 25px; text-align: right}










